@use "../common/vars.scss" as *;

.hero {
    .main-title {
        margin-bottom: 30px;
    }
    .main-subtitle {
        margin-bottom: 20px;
    }
}

@media (max-width: 1250px) {
    .hero {
        .main-title {
            margin-bottom: 20px;
        }
        .main-subtitle {
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 525px) {
    .hero {
        .main-title {
            margin-bottom: 14px;
        }
        .main-subtitle {
            margin-bottom: 16px;
        }
    }
}