@use "../common/vars.scss" as *;

.lead-link {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: $red;
    color: $white;
    font-size: 20px;
    font-weight: 600;
    transition: background-color .35s;

    @media (max-width: 425px) {
        padding: 10px 20px;
        font-size: 18px;
    }

    @media (max-width: 375px) {
        padding: 10px 20px;
        font-size: 16px;
    }

    &::before,
    &::after {
        content: '';
        height: 14px;
        width: 14px;
        position: absolute;
        transition: all .35s ease;
        opacity: 0;
    }

    &::before {
        content: '';
        right: -10px;
        top: -10px;
        border-top: 3px solid $blue;
        border-right: 3px solid $blueTransparent;
        transform: translate(-100%, 50%);
    }

    &:after {
        content: '';
        left: -10px;
        bottom: -10px;
        border-bottom: 3px solid $blue;
        border-left: 3px solid $blueTransparent;
        transform: translate(100%, -50%)
    }

    @media (hover: none) and (pointer: coarse) {
        &:before,
        &:after{
            transform: translate(0,0);
            opacity: 1;
        }
    }

    @media (hover: hover) {
        &:hover:before,
        &:hover:after{
            transform: translate(0,0);
            opacity: 1;
        }
    
        &:hover {
            background-color: $redTransparent;
        }
    }
}
