@use "../common/vars.scss" as *;

.main-title {
    font-size: 64px;
}

.main-subtitle {
    font-size: 36px;
    &__marker {
        color: $red;
    }
}

.section-title {
    font-size: 56px;
}

@media (max-width: 1250px) {
    .main-title {
        font-size: 48px;
    }

    .main-subtitle {
        font-size: 28px;
        &__marker {
            color: $red;
        }
    }
}

@media (max-width: 525px) {
    .main-title {
        font-size: 36px;
    }

    .main-subtitle {
        font-size: 18px;
        &__marker {
            color: $red;
        }
    }
}

@media (max-width: 375px) {
    .main-title {
        font-size: 32px;
    }

}