@use "../common/vars.scss" as *;

.garancy {
    &__content {
        height: 100%;
        min-height: 100%;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;

        @media (max-width: 1250px) {
            min-height: 100dvh;
        }
    }

    .main-subtitle {
        margin-bottom: 60px;
    }
}

.garancy-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @media (max-width: 1250px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.garancy-card {
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background: $cardGradient;

    &__top {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }

    &__icon {
        width: 30px;
        height: 30px;
    }

    &__title {
        font-size: 18px;
    }

    &__description {
        font-size: 16px;
    }
}
